.tour-details {
    position: relative;
}

.img-tour-banner {
    width: 100%;
    height: 230px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

}

.img-tour-banner .overlay {
    width: 100%;
    height: 230px;
    position: absolute;
    left: 0;
    top: 0;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.img-tour-header {
    z-index: 1;
    position: relative;
    margin-top:65px !important;
}

.img-tour-banner img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.img-tour-logo {
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    border-radius: 15px;
}

.img-tour-logo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card-tour-detail .button-information{
    border:1px solid #e5e7eb;
    background-color: #f9fafb;
}

.card-tour-detail .button-information:hover{
    background-color: #e5e7eb;
    color:#1d4ed8;
}

.detail-header {
    position: relative;
    height: auto;
    padding-bottom: 20px;
    z-index: 1;
}

.detail-header .detail-header-title {
    z-index: 999;
    color: #fff;
    position: relative;
}

.detail-header .detail-banner {
    background: #1E283D url("../../images/dashboard/darkBG.png") repeat-y right top;
    height: 140px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 1;
}

.detail-header .detail-photo {

    position: relative;
    border-radius: 15px;
    z-index: 2;
    object-fit: cover;
    background: #fff;
    width:150px;
    height:150px;
}

.detail-header .detail-photo img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 9px;
    border: 5px solid #fff;
}

.detail-header .detail-photo .btn-edit {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.form-control {
    border-radius: 10px !important;
}

.alert {
    transition: 5s;
}


.load-photo {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 15px;
}

.load-photo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* AUTH */
#auth-forms .auth-form{
    max-height: 100vh;
    overflow-y: auto;
}
#auth-forms .divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

#auth-forms .divider span {
    background: #fff;
    padding: 0 10px;
}

/* #auth-forms .divider .divider-line::before {
    width: 100px;
    height: 4px;
    border: 1px solid red;
    content: "";
} */

.auth-bg {
    background: url("../../../img/public_auth_bg.jpg");
    background-size: cover;
    height: 100vh;
}

/* DATATABLES */
.dataTables_wrapper .row{
    margin-bottom:20px !important;
}